# Attribute Definitions

## Features Overview
The dataset contains the following features:

1. **Age**: Numeric, represents the age of the individual.
2. **Gender**: Categorical, indicates male or female.
3. **Pulse Rate**: Numeric, measures heart rate (beats per minute).
4. **Systolic BP**: Numeric, measures systolic blood pressure.
5. **Diastolic BP**: Numeric, measures diastolic blood pressure.
6. **Glucose**: Numeric, represents glucose level in mmol/L.
7. **Height**: Numeric, in meters.
8. **Weight**: Numeric, in kilograms.
9. **BMI**: Numeric, derived metric (Body Mass Index).
10. **Family Diabetes**: Binary, whether thereâ€™s a family history of diabetes.
11. **Hypertensive**: Binary, indicates whether the individual is hypertensive.
12. **Family Hypertension**: Binary, family history of hypertension.
13. **Cardiovascular Disease**: Binary, presence of cardiovascular disease.
14. **Stroke**: Binary, whether the individual has experienced a stroke.
15. **Diabetic**: Categorical, indicates whether the individual is diabetic (Yes/No).

## Features Relationships in the Dataset

- **Age** vs. **Health Conditions**:
  - Age is positively correlated with the prevalence of diabetes, hypertension, cardiovascular disease, and stroke.

- **BMI** vs. **Glucose**:
  - Higher BMI is associated with elevated glucose levels, indicating a higher risk of insulin resistance and diabetes.

- **Blood Pressure (Systolic and Diastolic)** vs. **Health Outcomes**:
  - Elevated systolic and diastolic blood pressure is associated with a higher prevalence of hypertension, cardiovascular disease, and stroke.

- **Family History (Diabetes/Hypertension)** vs. **Conditions**:
  - Individuals with a family history of diabetes or hypertension are more likely to develop these conditions compared to those without such a history.

- **Gender Differences**:
  - Health outcomes such as diabetes, hypertension, cardiovascular disease, and stroke differ between males and females due to biological, hormonal, and lifestyle factors.

- **Pulse Rate** vs. **Cardiovascular Disease**:
  - Elevated resting pulse rate is associated with a higher risk of cardiovascular disease.

# Importing Libraries and Loading Data

In [26]:
# Essentials
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Warnings
import warnings
warnings.filterwarnings('ignore')

# Loading data correctly
bangladesh_df = pd.read_csv(r'/Users/mohammedbasem/Desktop/T2D-Prediction-System--Data-Fusion-for-Enhanced-Decision-Making/datasets/clinical/Bangladesh_clinical_dataset.csv')

# Exploratory Data Analysis (EDA)

In [27]:
bangladesh_df.head(5)

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic
0,42,Female,66,110,73,5.88,1.65,70.2,25.75,0,0,0,0,0,No
1,35,Female,60,125,68,5.71,1.47,42.5,19.58,0,0,0,0,0,No
2,62,Female,57,127,74,6.85,1.52,47.0,20.24,0,0,0,0,0,No
3,73,Male,55,193,112,6.28,1.63,57.4,21.72,0,0,0,0,0,No
4,68,Female,71,150,81,5.71,1.42,36.0,17.79,0,0,0,0,0,No

In [28]:
bangladesh_df.tail(5)

,age,gender,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic
5432,74,Male,83,164,89,6.47,1.60,64.0,24.99,0,1,0,1,0,No
5433,75,Male,67,141,104,8.31,1.65,62.0,22.75,0,0,0,0,0,Yes
5434,40,Female,67,134,114,7.61,1.50,69.0,30.72,0,1,0,0,1,No
5435,36,Female,62,139,80,4.90,1.52,41.5,17.87,0,0,0,0,0,No
5436,26,Female,80,134,93,5.15,1.47,67.1,30.92,0,0,0,0,0,No

In [29]:
bangladesh_df.dtypes

age                         int64
gender                     object
pulse_rate                  int64
systolic_bp                 int64
diastolic_bp                int64
glucose                   float64
height                    float64
weight                    float64
bmi                       float64
family_diabetes             int64
hypertensive                int64
family_hypertension         int64
cardiovascular_disease      int64
stroke                      int64
diabetic                   object
dtype: object

In [30]:
bangladesh_df.shape

(5437, 15)

In [31]:
duplicate_rows_bangladesh_df = bangladesh_df[bangladesh_df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_bangladesh_df.shape)

number of duplicate rows:  (0, 15)

In [32]:
bangladesh_df.count()

age                       5437
gender                    5437
pulse_rate                5437
systolic_bp               5437
diastolic_bp              5437
glucose                   5437
height                    5437
weight                    5437
bmi                       5437
family_diabetes           5437
hypertensive              5437
family_hypertension       5437
cardiovascular_disease    5437
stroke                    5437
diabetic                  5437
dtype: int64

In [33]:
print(bangladesh_df.isnull().sum())

age                       0
gender                    0
pulse_rate                0
systolic_bp               0
diastolic_bp              0
glucose                   0
height                    0
weight                    0
bmi                       0
family_diabetes           0
hypertensive              0
family_hypertension       0
cardiovascular_disease    0
stroke                    0
diabetic                  0
dtype: int64

In [34]:
bangladesh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5437 entries, 0 to 5436
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     5437 non-null   int64
 1   gender                  5437 non-null   object
 2   pulse_rate              5437 non-null   int64
 3   systolic_bp             5437 non-null   int64
 4   diastolic_bp            5437 non-null   int64
 5   glucose                 5437 non-null   float64
 6   height                  5437 non-null   float64
 7   weight                  5437 non-null   float64
 8   bmi                     5437 non-null   float64
 9   family_diabetes         5437 non-null   int64
 10  hypertensive            5437 non-null   int64
 11  family_hypertension     5437 non-null   int64
 12  cardiovascular_disease  5437 non-null   int64
 13  stroke                  5437 non-null   int64
 14  diabetic                5437 non-null   object
dtypes: float64(4), int64(9), object(2)
memory usage: 637.3+ KB

In [35]:
bangladesh_df.describe()

,age,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke
count,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000
mean,45.533750,76.768990,133.859849,82.064742,7.540682,1.548571,53.626816,22.472301,0.037337,0.109803,0.039544,0.011587,0.003678
std,14.321155,12.290076,22.293015,12.489593,2.923080,0.080955,10.091550,8.778764,0.189603,0.312673,0.194903,0.107029,0.060545
min,8.000000,5.000000,62.000000,45.000000,0.000000,0.360000,3.000000,1.220000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,69.000000,119.000000,73.000000,6.000000,1.520000,46.700000,19.630000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,76.000000,130.000000,81.000000,6.920000,1.550000,53.000000,21.870000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,55.000000,84.000000,147.000000,90.000000,8.120000,1.600000,59.900000,24.490000,0.000000,0.000000,0.000000,0.000000,0.000000
max,112.000000,133.000000,231.000000,119.000000,33.460000,1.960000,100.700000,574.130000,1.000000,1.000000,1.000000,1.000000,1.000000

# Feature Engineering

In [36]:
# Convert 'gender' column to categorical codes
bangladesh_df['gender_Encoded'] = bangladesh_df['gender'].astype('category').cat.codes

# Remove the original 'gender' column to avoid redundancy
bangladesh_df.drop(['gender'], axis=1, inplace=True)

# Display the first 5 rows of the modified DataFrame
bangladesh_df.head()

,age,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,diabetic,gender_Encoded
0,42,66,110,73,5.88,1.65,70.2,25.75,0,0,0,0,0,No,0
1,35,60,125,68,5.71,1.47,42.5,19.58,0,0,0,0,0,No,0
2,62,57,127,74,6.85,1.52,47.0,20.24,0,0,0,0,0,No,0
3,73,55,193,112,6.28,1.63,57.4,21.72,0,0,0,0,0,No,1
4,68,71,150,81,5.71,1.42,36.0,17.79,0,0,0,0,0,No,0

In [37]:
# Convert 'diabetic' column to categorical codes
bangladesh_df['diabetic_Encoded'] = bangladesh_df['diabetic'].astype('category').cat.codes

# Remove the original 'diabetic' column to avoid redundancy
bangladesh_df.drop(['diabetic'], axis=1, inplace=True)

# Display the first 5 rows of the modified DataFrame
bangladesh_df.head()

,age,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,gender_Encoded,diabetic_Encoded
0,42,66,110,73,5.88,1.65,70.2,25.75,0,0,0,0,0,0,0
1,35,60,125,68,5.71,1.47,42.5,19.58,0,0,0,0,0,0,0
2,62,57,127,74,6.85,1.52,47.0,20.24,0,0,0,0,0,0,0
3,73,55,193,112,6.28,1.63,57.4,21.72,0,0,0,0,0,1,0
4,68,71,150,81,5.71,1.42,36.0,17.79,0,0,0,0,0,0,0

In [38]:
bangladesh_df.tail(5)

,age,pulse_rate,systolic_bp,diastolic_bp,glucose,height,weight,bmi,family_diabetes,hypertensive,family_hypertension,cardiovascular_disease,stroke,gender_Encoded,diabetic_Encoded
5432,74,83,164,89,6.47,1.60,64.0,24.99,0,1,0,1,0,1,0
5433,75,67,141,104,8.31,1.65,62.0,22.75,0,0,0,0,0,1,1
5434,40,67,134,114,7.61,1.50,69.0,30.72,0,1,0,0,1,0,0
5435,36,62,139,80,4.90,1.52,41.5,17.87,0,0,0,0,0,0,0
5436,26,80,134,93,5.15,1.47,67.1,30.92,0,0,0,0,0,0,0

# Data Visualization

In [39]:
"""# Create a temporary DataFrame for plotting with original gender labels
temp_df = bangladesh_df.copy()
temp_df['gender_plot'] = temp_df['gender_Encoded'].map({0: 'Female', 1: 'Male'})

# Plot gender counts with specific colors and display counts on bars
plt.figure(figsize=(8, 6))
ax = sns.countplot(
    x='gender_plot', 
    data=temp_df, 
    palette=['salmon', 'skyblue'],
    order=['Female', 'Male']
)

# Adding counts on top of each bar
for p in ax.patches:
    ax.annotate(
        f'{int(p.get_height())}', 
        (p.get_x() + p.get_width() / 2., p.get_height()), 
        ha='center', va='center', fontsize=12, color='black', xytext=(0, 5), 
        textcoords='offset points'
    )

# Add labels and title
plt.title('Distribution of Genders', fontsize=16, pad=20)
plt.xlabel('Gender', fontsize=12, labelpad=10)
plt.ylabel('Count', fontsize=12, labelpad=10)

# Remove spines for a cleaner look
sns.despine()

# Show the plot
plt.tight_layout()
plt.show()"""

"# Create a temporary DataFrame for plotting with original gender labels\ntemp_df = bangladesh_df.copy()\ntemp_df['gender_plot'] = temp_df['gender_Encoded'].map({0: 'Female', 1: 'Male'})\n\n# Plot gender counts with specific colors and display counts on bars\nplt.figure(figsize=(8, 6))\nax = sns.countplot(\n    x='gender_plot', \n    data=temp_df, \n    palette=['salmon', 'skyblue'],\n    order=['Female', 'Male']\n)\n\n# Adding counts on top of each bar\nfor p in ax.patches:\n    ax.annotate(\n        f'{int(p.get_height())}', \n        (p.get_x() + p.get_width() / 2., p.get_height()), \n        ha='center', va='center', fontsize=12, color='black', xytext=(0, 5), \n        textcoords='offset points'\n    )\n\n# Add labels and title\nplt.title('Distribution of Genders', fontsize=16, pad=20)\nplt.xlabel('Gender', fontsize=12, labelpad=10)\nplt.ylabel('Count', fontsize=12, labelpad=10)\n\n# Remove spines for a cleaner look\nsns.despine()\n\n# Show the plot\nplt.tight_layout()\nplt.show()"

In [40]:
"""# Select numerical columns from the dataset
numerical_features = bangladesh_df.select_dtypes(include=['float64', 'int64']).columns

# Set up the figure for multiple subplots
plt.figure(figsize=(15, 15))

# Loop through each numerical column and create a histogram
for i, column in enumerate(numerical_features, 1):
    plt.subplot(len(numerical_features) // 3 + 1, 3, i)
    sns.histplot(
        bangladesh_df[column], 
        kde=True, 
        color='skyblue',
        edgecolor='salmon',
        line_kws={'color': 'red'},
        bins=30
    )
    plt.title(f'Distribution of {column}', fontsize=12, pad=10)
    plt.xlabel(column, fontsize=10)
    plt.ylabel('Frequency', fontsize=10)

# Adjust subplots to fit into figure area neatly
plt.tight_layout()

# Show the plot
plt.show()"""

"# Select numerical columns from the dataset\nnumerical_features = bangladesh_df.select_dtypes(include=['float64', 'int64']).columns\n\n# Set up the figure for multiple subplots\nplt.figure(figsize=(15, 15))\n\n# Loop through each numerical column and create a histogram\nfor i, column in enumerate(numerical_features, 1):\n    plt.subplot(len(numerical_features) // 3 + 1, 3, i)\n    sns.histplot(\n        bangladesh_df[column], \n        kde=True, \n        color='skyblue',\n        edgecolor='salmon',\n        line_kws={'color': 'red'},\n        bins=30\n    )\n    plt.title(f'Distribution of {column}', fontsize=12, pad=10)\n    plt.xlabel(column, fontsize=10)\n    plt.ylabel('Frequency', fontsize=10)\n\n# Adjust subplots to fit into figure area neatly\nplt.tight_layout()\n\n# Show the plot\nplt.show()"

## Correlation Matrix of Numerical Features

In [41]:
"""# Filter numeric columns only
numeric_columns = bangladesh_df.select_dtypes(include=['float64', 'int64'])

# Check if there are numeric columns to proceed
if numeric_columns.empty:
    raise ValueError("No numeric columns found in the dataset. Cannot compute correlation matrix.")

# Compute the correlation matrix
correlation_matrix = numeric_columns.corr()

# Display the correlation matrix as a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(
    correlation_matrix, 
    annot=True,
    fmt=".2f",
    cmap="coolwarm",
    cbar=True,
    annot_kws={"size": 10},
    linewidths=0.5,
    vmin=-1, vmax=1
)

# Add a title
plt.title("Correlation Matrix of Numerical Features", fontsize=16, pad=20)

# Show the plot
plt.tight_layout()
plt.show()"""

'# Filter numeric columns only\nnumeric_columns = bangladesh_df.select_dtypes(include=[\'float64\', \'int64\'])\n\n# Check if there are numeric columns to proceed\nif numeric_columns.empty:\n    raise ValueError("No numeric columns found in the dataset. Cannot compute correlation matrix.")\n\n# Compute the correlation matrix\ncorrelation_matrix = numeric_columns.corr()\n\n# Display the correlation matrix as a heatmap\nplt.figure(figsize=(10, 8))\nsns.heatmap(\n    correlation_matrix, \n    annot=True,\n    fmt=".2f",\n    cmap="coolwarm",\n    cbar=True,\n    annot_kws={"size": 10},\n    linewidths=0.5,\n    vmin=-1, vmax=1\n)\n\n# Add a title\nplt.title("Correlation Matrix of Numerical Features", fontsize=16, pad=20)\n\n# Show the plot\nplt.tight_layout()\nplt.show()'

## Occurrence of Diabetes by Gender

In [42]:
"""# Ensure the DataFrame has the required columns and no missing values
if 'gender_Encoded' not in bangladesh_df.columns or 'diabetic_Encoded' not in bangladesh_df.columns:
    raise ValueError("The DataFrame must contain 'gender_Encoded' and 'diabetic_Encoded' columns.")

# Drop rows with missing values in the specified columns
bangladesh_df = bangladesh_df.dropna(subset=['gender_Encoded', 'diabetic_Encoded'])

# Plot the relationship between gender and occurrence of diabetes
plt.figure(figsize=(8, 6))
ax = sns.countplot(
    x='gender_Encoded', 
    hue='diabetic_Encoded', 
    data=bangladesh_df, 
    palette=['skyblue', 'salmon'],
    order=['Female', 'Male'] if 'Female' in bangladesh_df['gender_Encoded'].unique() and 'Male' in bangladesh_df['gender_Encoded'].unique() else None,
    hue_order=['No', 'Yes'] if 'No' in bangladesh_df['diabetic_Encoded'].unique() and 'Yes' in bangladesh_df['diabetic_Encoded'].unique() else None
)

# Add counts on top of each bar
for p in ax.patches:
    height = p.get_height()
    if not pd.isnull(height):
        ax.annotate(
            f'{int(height)}',
            (p.get_x() + p.get_width() / 2., height),
            ha='center',
            va='center',
            fontsize=10,
            color='black',
            xytext=(0, 5),
            textcoords='offset points' 
        )

# Add labels and title
plt.title('Occurrence of Diabetes by Gender', fontsize=16, pad=20)
plt.xlabel('Gender', fontsize=12, labelpad=10)
plt.ylabel('Count', fontsize=12, labelpad=10)
plt.legend(title='Diabetic', loc='upper right')

# Remove spines for a cleaner look
sns.despine()

# Show the plot
plt.tight_layout()
plt.show()"""

'# Ensure the DataFrame has the required columns and no missing values\nif \'gender_Encoded\' not in bangladesh_df.columns or \'diabetic_Encoded\' not in bangladesh_df.columns:\n    raise ValueError("The DataFrame must contain \'gender_Encoded\' and \'diabetic_Encoded\' columns.")\n\n# Drop rows with missing values in the specified columns\nbangladesh_df = bangladesh_df.dropna(subset=[\'gender_Encoded\', \'diabetic_Encoded\'])\n\n# Plot the relationship between gender and occurrence of diabetes\nplt.figure(figsize=(8, 6))\nax = sns.countplot(\n    x=\'gender_Encoded\', \n    hue=\'diabetic_Encoded\', \n    data=bangladesh_df, \n    palette=[\'skyblue\', \'salmon\'],\n    order=[\'Female\', \'Male\'] if \'Female\' in bangladesh_df[\'gender_Encoded\'].unique() and \'Male\' in bangladesh_df[\'gender_Encoded\'].unique() else None,\n    hue_order=[\'No\', \'Yes\'] if \'No\' in bangladesh_df[\'diabetic_Encoded\'].unique() and \'Yes\' in bangladesh_df[\'diabetic_Encoded\'].unique() else None\n)\n\n# Add counts on top of each bar\nfor p in ax.patches:\n    height = p.get_height()\n    if not pd.isnull(height):\n        ax.annotate(\n            f\'{int(height)}\',\n            (p.get_x() + p.get_width() / 2., height),\n            ha=\'center\',\n            va=\'center\',\n            fontsize=10,\n            color=\'black\',\n            xytext=(0, 5),\n            textcoords=\'offset points\' \n        )\n\n# Add labels and title\nplt.title(\'Occurrence of Diabetes by Gender\', fontsize=16, pad=20)\nplt.xlabel(\'Gender\', fontsize=12, labelpad=10)\nplt.ylabel(\'Count\', fontsize=12, labelpad=10)\nplt.legend(title=\'Diabetic\', loc=\'upper right\')\n\n# Remove spines for a cleaner look\nsns.despine()\n\n# Show the plot\nplt.tight_layout()\nplt.show()'

## Age vs. Health Conditions

In [43]:
"""# Define age bins for grouping
age_bins = [0, 20, 30, 40, 50, 60, 70, 80, 100]
age_labels = ['0-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81+']
bangladesh_df['age_group'] = pd.cut(bangladesh_df['age'], bins=age_bins, labels=age_labels, right=False)

# Aggregating mean values for each condition by age group
grouped_data = bangladesh_df.groupby('age_group')[['diabetic_Encoded', 'hypertensive', 'cardiovascular_disease', 'stroke']].mean()

# Plot bar charts for each condition
conditions = ['diabetic_Encoded', 'hypertensive', 'cardiovascular_disease', 'stroke']
for condition in conditions:
    plt.figure(figsize=(10, 6))
    grouped_data[condition].plot(kind='bar', color='skyblue', edgecolor='black')
    plt.title(f'Average {condition.replace("_", " ").capitalize()} by Age Group')
    plt.xlabel('Age Group')
    plt.ylabel(f'Average {condition.replace("_", " ").capitalize()}')
    plt.xticks(rotation=45)
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()"""

'# Define age bins for grouping\nage_bins = [0, 20, 30, 40, 50, 60, 70, 80, 100]\nage_labels = [\'0-20\', \'21-30\', \'31-40\', \'41-50\', \'51-60\', \'61-70\', \'71-80\', \'81+\']\nbangladesh_df[\'age_group\'] = pd.cut(bangladesh_df[\'age\'], bins=age_bins, labels=age_labels, right=False)\n\n# Aggregating mean values for each condition by age group\ngrouped_data = bangladesh_df.groupby(\'age_group\')[[\'diabetic_Encoded\', \'hypertensive\', \'cardiovascular_disease\', \'stroke\']].mean()\n\n# Plot bar charts for each condition\nconditions = [\'diabetic_Encoded\', \'hypertensive\', \'cardiovascular_disease\', \'stroke\']\nfor condition in conditions:\n    plt.figure(figsize=(10, 6))\n    grouped_data[condition].plot(kind=\'bar\', color=\'skyblue\', edgecolor=\'black\')\n    plt.title(f\'Average {condition.replace("_", " ").capitalize()} by Age Group\')\n    plt.xlabel(\'Age Group\')\n    plt.ylabel(f\'Average {condition.replace("_", " ").capitalize()}\')\n    plt.xticks(rotation=45)\n    plt.grid(axis=\'y\', linestyle=\'--\', alpha=0.7)\n    plt.tight_layout()\n    plt.show()'

## BMI vs. Glucose

In [44]:
"""# Define BMI bins for grouping
bmi_bins = [0, 18.5, 24.9, 29.9, 34.9, 39.9, 100]  # Categories: Underweight, Normal, Overweight, Obese I, Obese II, Obese III
bmi_labels = ['Underweight', 'Normal', 'Overweight', 'Obese I', 'Obese II', 'Obese III']
bangladesh_df['bmi_category'] = pd.cut(bangladesh_df['bmi'], bins=bmi_bins, labels=bmi_labels, right=False)

# Aggregating mean glucose levels by BMI category
bmi_glucose_data = bangladesh_df.groupby('bmi_category')['glucose'].mean()

# Plotting the bar chart
plt.figure(figsize=(10, 6))
bmi_glucose_data.plot(kind='bar', color='skyblue', edgecolor='black')
plt.title('Average Glucose Levels by BMI Category')
plt.xlabel('BMI Category')
plt.ylabel('Average Glucose Levels')
plt.xticks(rotation=45)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()"""

"# Define BMI bins for grouping\nbmi_bins = [0, 18.5, 24.9, 29.9, 34.9, 39.9, 100]  # Categories: Underweight, Normal, Overweight, Obese I, Obese II, Obese III\nbmi_labels = ['Underweight', 'Normal', 'Overweight', 'Obese I', 'Obese II', 'Obese III']\nbangladesh_df['bmi_category'] = pd.cut(bangladesh_df['bmi'], bins=bmi_bins, labels=bmi_labels, right=False)\n\n# Aggregating mean glucose levels by BMI category\nbmi_glucose_data = bangladesh_df.groupby('bmi_category')['glucose'].mean()\n\n# Plotting the bar chart\nplt.figure(figsize=(10, 6))\nbmi_glucose_data.plot(kind='bar', color='skyblue', edgecolor='black')\nplt.title('Average Glucose Levels by BMI Category')\nplt.xlabel('BMI Category')\nplt.ylabel('Average Glucose Levels')\nplt.xticks(rotation=45)\nplt.grid(axis='y', linestyle='--', alpha=0.7)\nplt.tight_layout()\nplt.show()"

## Blood Pressure vs. Health Outcomes

In [45]:
"""# Define blood pressure bins for grouping
bp_bins = [0, 90, 120, 140, 160, 200]  # Categories: Low, Normal, Elevated, Hypertension Stage 1, Hypertension Stage 2
bp_labels = ['Low', 'Normal', 'Elevated', 'Stage 1 Hypertension', 'Stage 2 Hypertension']
bangladesh_df['systolic_bp_category'] = pd.cut(bangladesh_df['systolic_bp'], bins=bp_bins, labels=bp_labels, right=False)

# Aggregating mean values for conditions by systolic blood pressure category
conditions = ['hypertensive', 'cardiovascular_disease', 'stroke']
bp_condition_data = bangladesh_df.groupby('systolic_bp_category')[conditions].mean()

# Plotting bar charts for each condition
for condition in conditions:
    plt.figure(figsize=(10, 6))
    bp_condition_data[condition].plot(kind='bar', color='skyblue', edgecolor='black')
    plt.title(f'Association Between Systolic BP and {condition.replace("_", " ").capitalize()}')
    plt.xlabel('Systolic Blood Pressure Category')
    plt.ylabel(f'Average {condition.replace("_", " ").capitalize()}')
    plt.xticks(rotation=45)
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()"""

'# Define blood pressure bins for grouping\nbp_bins = [0, 90, 120, 140, 160, 200]  # Categories: Low, Normal, Elevated, Hypertension Stage 1, Hypertension Stage 2\nbp_labels = [\'Low\', \'Normal\', \'Elevated\', \'Stage 1 Hypertension\', \'Stage 2 Hypertension\']\nbangladesh_df[\'systolic_bp_category\'] = pd.cut(bangladesh_df[\'systolic_bp\'], bins=bp_bins, labels=bp_labels, right=False)\n\n# Aggregating mean values for conditions by systolic blood pressure category\nconditions = [\'hypertensive\', \'cardiovascular_disease\', \'stroke\']\nbp_condition_data = bangladesh_df.groupby(\'systolic_bp_category\')[conditions].mean()\n\n# Plotting bar charts for each condition\nfor condition in conditions:\n    plt.figure(figsize=(10, 6))\n    bp_condition_data[condition].plot(kind=\'bar\', color=\'skyblue\', edgecolor=\'black\')\n    plt.title(f\'Association Between Systolic BP and {condition.replace("_", " ").capitalize()}\')\n    plt.xlabel(\'Systolic Blood Pressure Category\')\n    plt.ylabel(f\'Average {condition.replace("_", " ").capitalize()}\')\n    plt.xticks(rotation=45)\n    plt.grid(axis=\'y\', linestyle=\'--\', alpha=0.7)\n    plt.tight_layout()\n    plt.show()'

## Family History (Diabetes/Hypertension) vs. Conditions

In [46]:
"""# Aggregating mean values for diabetes and hypertension based on family history of diabetes and hypertension
family_history_columns = ['family_diabetes', 'family_hypertension']
conditions = ['diabetic_Encoded', 'hypertensive']

for family_history in family_history_columns:
    grouped_data = bangladesh_df.groupby(family_history)[conditions].mean()
    
    for condition in conditions:
        plt.figure(figsize=(8, 6))
        grouped_data[condition].plot(kind='bar', color='skyblue', edgecolor='black')
        plt.title(f'Impact of {family_history.replace("_", " ").capitalize()} on {condition.replace("_", " ").capitalize()}')
        plt.xlabel(f'{family_history.replace("_", " ").capitalize()} (0 = No, 1 = Yes)')
        plt.ylabel(f'Average {condition.replace("_", " ").capitalize()} Prevalence')
        plt.xticks([0, 1], ['No', 'Yes'], rotation=0)
        plt.grid(axis='y', linestyle='--', alpha=0.7)
        plt.tight_layout()
        plt.show()"""

'# Aggregating mean values for diabetes and hypertension based on family history of diabetes and hypertension\nfamily_history_columns = [\'family_diabetes\', \'family_hypertension\']\nconditions = [\'diabetic_Encoded\', \'hypertensive\']\n\nfor family_history in family_history_columns:\n    grouped_data = bangladesh_df.groupby(family_history)[conditions].mean()\n    \n    for condition in conditions:\n        plt.figure(figsize=(8, 6))\n        grouped_data[condition].plot(kind=\'bar\', color=\'skyblue\', edgecolor=\'black\')\n        plt.title(f\'Impact of {family_history.replace("_", " ").capitalize()} on {condition.replace("_", " ").capitalize()}\')\n        plt.xlabel(f\'{family_history.replace("_", " ").capitalize()} (0 = No, 1 = Yes)\')\n        plt.ylabel(f\'Average {condition.replace("_", " ").capitalize()} Prevalence\')\n        plt.xticks([0, 1], [\'No\', \'Yes\'], rotation=0)\n        plt.grid(axis=\'y\', linestyle=\'--\', alpha=0.7)\n        plt.tight_layout()\n        plt.show()'

## Pulse Rate vs. Cardiovascular Disease

In [47]:
"""# Define pulse rate bins for grouping
pulse_rate_bins = [0, 60, 80, 100, 200]  # Categories: Bradycardia, Normal, Elevated, Tachycardia
pulse_rate_labels = ['Bradycardia', 'Normal', 'Elevated', 'Tachycardia']
bangladesh_df['pulse_rate_category'] = pd.cut(bangladesh_df['pulse_rate'], bins=pulse_rate_bins, labels=pulse_rate_labels, right=False)

# Aggregating mean values for cardiovascular conditions by pulse rate category
conditions = ['cardiovascular_disease', 'stroke']
pulse_condition_data = bangladesh_df.groupby('pulse_rate_category')[conditions].mean()

# Plotting bar charts for each cardiovascular condition
for condition in conditions:
    plt.figure(figsize=(10, 6))
    pulse_condition_data[condition].plot(kind='bar', color='skyblue', edgecolor='black')
    plt.title(f'Impact of Pulse Rate on {condition.replace("_", " ").capitalize()}')
    plt.xlabel('Pulse Rate Category')
    plt.ylabel(f'Average {condition.replace("_", " ").capitalize()} Prevalence')
    plt.xticks(rotation=45)
    plt.grid(axis='y', linestyle='--', alpha=0.7)
    plt.tight_layout()
    plt.show()"""

'# Define pulse rate bins for grouping\npulse_rate_bins = [0, 60, 80, 100, 200]  # Categories: Bradycardia, Normal, Elevated, Tachycardia\npulse_rate_labels = [\'Bradycardia\', \'Normal\', \'Elevated\', \'Tachycardia\']\nbangladesh_df[\'pulse_rate_category\'] = pd.cut(bangladesh_df[\'pulse_rate\'], bins=pulse_rate_bins, labels=pulse_rate_labels, right=False)\n\n# Aggregating mean values for cardiovascular conditions by pulse rate category\nconditions = [\'cardiovascular_disease\', \'stroke\']\npulse_condition_data = bangladesh_df.groupby(\'pulse_rate_category\')[conditions].mean()\n\n# Plotting bar charts for each cardiovascular condition\nfor condition in conditions:\n    plt.figure(figsize=(10, 6))\n    pulse_condition_data[condition].plot(kind=\'bar\', color=\'skyblue\', edgecolor=\'black\')\n    plt.title(f\'Impact of Pulse Rate on {condition.replace("_", " ").capitalize()}\')\n    plt.xlabel(\'Pulse Rate Category\')\n    plt.ylabel(f\'Average {condition.replace("_", " ").capitalize()} Prevalence\')\n    plt.xticks(rotation=45)\n    plt.grid(axis=\'y\', linestyle=\'--\', alpha=0.7)\n    plt.tight_layout()\n    plt.show()'

# Saving Processed CSV File

In [48]:
# Define the exact output file path
output_file_path = r'/Users/mohammedbasem/Desktop/T2D-Prediction-System--Data-Fusion-for-Enhanced-Decision-Making/processed_datasets/clinical/Bangladesh_pro.csv'

# Save the updated DataFrame to a CSV file
bangladesh_df.to_csv(output_file_path, index=False)

print(f"Updated dataset saved to: {output_file_path}")

Updated dataset saved to: /Users/mohammedbasem/Desktop/T2D-Prediction-System--Data-Fusion-for-Enhanced-Decision-Making/processed_datasets/clinical/Bangladesh_pro.csv

# Conclusion